{% extends 'base.html' %}
{% block content %}

<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card shadow-sm p-4 card-funny">

      <h3 class="text-center mb-3">Welcome Back 👋</h3>
      <p class="text-center small-joke mb-4">
        Login to check which dreams are still alive.
      </p>

      <form method="post">
        {% csrf_token %}

        
        {% if request.GET.next %}
        <div class="alert alert-warning">
          First login to  access Add, Bucket and dustbin
        </div>
        {% endif %}
          

        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="text" name="username" class="form-control" placeholder="Your username" required>
        </div>

        <div class="mb-4">
          <label class="form-label">Password</label>
          <input type="password" name="password" class="form-control" placeholder="Hope you remember it" required>
        </div>

        <button type="submit" class="btn bucket-btn w-100">
          Login 🔓
        </button>
      </form>

      <p class="text-center small-joke mt-3">
        New here?
        <a href="/signup/">Create an account</a>
      </p>

      <p class="text-center small-joke mt-2">
        “Reality starts after login.” 😄
      </p>

     
      {% if messages %}
      {% for message in messages %}
      <p style="color: rgb(230, 13, 13);">
        </style> {{message}}</p>
      {% endfor %}
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}