{% extends 'base.html' %}
{% block content %}

<div class="card card-funny shadow-sm p-4">
  <h4 class="mb-3">Add a New Dream 🪣</h4>

  <div class="mb-3">
    <label class="form-label">Dream Title</label>
    <input type="text" class="form-control" placeholder="e.g. Wake up at 5 AM">
  </div>

  <div class="mb-3">
    <label class="form-label">Category</label>
    <select class="form-select">
      <option>Career</option>
      <option>Skill</option>
      <option>Travel</option>
      <option>Personal</option>
    </select>
  </div>

  <div class="mb-4">
    <label class="form-label">Effort Level</label><br>
    <input type="radio"> Low (jhooth)  
    <input type="radio" class="ms-3"> Medium  
    <input type="radio" class="ms-3"> High (never 😄)
  </div>

  <button class="btn bucket-btn">✅ Add to Bucket</button>
  <button class="btn dump-btn ms-2">🗑️ Send to Dustbin</button>

</div>

{% endblock %}
