{% extends 'base.html' %}
{% block content %}

<h4 class="mb-3">My Bucket</h4>
<p class="small-joke">These dreams are still breathing.</p>
         
         {% if messages  %}
      {% for message in messages %}
      <div class="alert alert-{{message.tags}}" >
        {{message}}
      </div>
      {% endfor %}
      {% endif %}
      

 {% for dream in dreams  %}
<form method="post" action="{% url 'bucket_action' %}">
  {% csrf_token %}
  <input type="hidden" name="dream_id" value="{{dream.id}}">

      

<div class="card card-funny  p-3 mb-3">
 
  <h5>{{dream.dream}}
  
  {% if dream.completed %}
  <span style="color: green; font-size: auto;"> ✔</span>  
  {% endif %}
  </h5>  
  <p class="small-joke">effort: {{dream.effort}}
    <h4>mood right now : {{dream.jokes}}</h4>
  </p>
   
  <div class ="d-flex flex-column gap-2" >
    
    {% if not dream.completed %}     
  <button class="btn btn-success  w-100" name="action" value="complete">✔ Complete</button>
  {% else %}
  <button class="btn btn-success  w-100" disabled>✔ Complete</button>
  {% endif %}

  {% if not dream.completed %}  
  <button class="btn dump-btn w-100" name="action" value="give up">🗑️ Give Up</button>
  {% else  %}
  <button class="btn btn-dark w-100" name="action" value="delete">🗑️ Remove </button>
   {% endif %}


  </div>
</div>
</form>

{% endfor %}
{% endblock %}
